<main>
  <section class="dialog" *ngIf="dialogOpen">
    <div>
      <div>
        <h1 *ngIf="sendingMail">
          {{ "CONTACT.FEEDBACK.SENDING" | translate }}
        </h1>
        <h1 *ngIf="mailSuccess">
          {{ "CONTACT.FEEDBACK.SUCCESS" | translate }}
        </h1>
        <h2 *ngIf="mailSuccess">
          {{ "CONTACT.FEEDBACK.SUCCESS_DETAIL" | translate }}
        </h2>
        <h1 *ngIf="mailError">{{ "CONTACT.FEEDBACK.ERROR" | translate }}</h1>
        <h2 *ngIf="mailError">
          {{ "CONTACT.FEEDBACK.ERROR_DETAIL" | translate }}
        </h2>
      </div>
    </div>
  </section>
  <div class="contact-header">
    <div class="line"></div>
    <h1>{{ "CONTACT.TITLE" | translate }}</h1>
  </div>
  <section class="section-form">
    <div class="contact-text">
      <h2>{{ "CONTACT.HEADER" | translate }}</h2>
      <div>
        <span>{{ "CONTACT.DESCRIPTION.PART_1" | translate }}</span>
        <span>
          {{ "CONTACT.DESCRIPTION.PART_2" | translate }}
        </span>
      </div>
    </div>
    <div class="form">
      <form (submit)="sendMail()" #contactForm>
        <div class="input-area">
          <div>
            <input
              type="text"
              class="border"
              name="name"
              placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.NAME' | translate }}"
              #name
              (input)="checkNameEmpty()"
              (focus)="nameClicked = true"
            />
            <img
              src="assets/img/contact/error.png"
              class="error-img"
              *ngIf="!nameValue && nameClicked"
            />
            <img
              src="assets/img/contact/accepted.png"
              class="error-img"
              *ngIf="nameValue && nameClicked"
            />
            <p *ngIf="!nameValue && nameClicked" class="error-text">
              {{ "CONTACT.FORM.ERRORS.NAME_REQUIRED" | translate }}
            </p>
          </div>
          <div>
            <input
              type="email"
              class="border"
              name="email"
              placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.EMAIL' | translate }}"
              #email
              (input)="checkEmailEmpty()"
              (focus)="emailClicked = true"
            />
            <img
              src="assets/img/contact/error.png"
              class="error-img"
              *ngIf="!emailValue && emailClicked"
            />
            <img
              src="assets/img/contact/accepted.png"
              class="error-img"
              *ngIf="emailValue && emailClicked"
            />
            <p *ngIf="!emailValue && emailClicked" class="error-text">
              {{ "CONTACT.FORM.ERRORS.EMAIL_REQUIRED" | translate }}
            </p>
          </div>
          <div>
            <textarea
              name="message"
              class="border"
              cols="30"
              rows="10"
              placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.MESSAGE' | translate }}"
              #message
              (input)="checkMessageEmpty()"
              (focus)="messageClicked = true"
            ></textarea>
            <img
              src="assets/img/contact/error.png"
              class="error-img"
              *ngIf="!messageValue && messageClicked"
            />
            <img
              src="assets/img/contact/accepted.png"
              class="error-img"
              *ngIf="messageValue && messageClicked"
            />
            <p
              *ngIf="!messageValue && messageClicked"
              class="message-error-text"
            >
              {{ "CONTACT.FORM.ERRORS.MESSAGE_REQUIRED" | translate }}
            </p>
          </div>
        </div>
        <div class="confirm-area">
          <div>
            <input
              type="checkbox"
              class="border-checkbox"
              name="checkbox"
              #checkbox
              (click)="activateCheckbox(); checkboxClicked = true"
            />
            <span [innerHTML]="'CONTACT.FORM.CHECKBOX' | translate"></span>
          </div>
          <p *ngIf="!checkboxActive && checkboxClicked">
            {{ "CONTACT.FORM.ERRORS.POLICY_REQUIRED" | translate }}
          </p>
          <button
            type="submit"
            [disabled]="
              !(checkboxActive && nameValue && emailValue && messageValue)
            "
            #button
          >
            <span>{{ "CONTACT.FORM.BUTTON" | translate }}</span>
          </button>
        </div>
      </form>
    </div>
  </section>

  <div class="footer-contact">
    <div class="shadow_contact">
      <!-- <img src="assets/img/background/purple_shadow.png" class="shadow" /> -->
    </div>
    <div style="margin-right: 25px">
      <a href="#top" class="arrow-up">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g id="arrow-down-line">
            <path
              id="Vector"
              d="M11 7.828L6.34295 12.485C5.95249 12.8755 5.31942 12.8755 4.92895 12.485C4.53849 12.0945 4.53849 11.4615 4.92895 11.071L11.2928 4.70711C11.6834 4.31658 12.3165 4.31658 12.7071 4.70711L19.071 11.071C19.4614 11.4615 19.4614 12.0945 19.071 12.485C18.6805 12.8755 18.0474 12.8755 17.657 12.485L13 7.828L13 19C13 19.5523 12.5522 20 12 20C11.4477 20 11 19.5523 11 19L11 7.828Z"
              fill="white"
            />
          </g>
        </svg>
      </a>
    </div>
  </div>
</main>
