main {
  background-color: #141d2f;
  padding-bottom: 50px;
}

.section-form {
  position: relative;
  z-index: 90;
  display: flex;
  gap: 10vw;
  margin: 0 auto;
  padding-top: 50px;
  width: 80%;
  justify-content: center;
}

.form {
  position: relative;
}

.contact-text {
  text-align: left;
}

h1 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

.contact-header {
  gap: 20px;
  position: relative;
}

.line {
  width: calc(50vw - 100px);
  max-width: 400px;
  height: 0px;
  border: 2px solid rgba(151, 71, 255, 1);
  top: 50%;
  position: absolute;
}

h2 {
  color: #ffffff;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 50px;
}

span {
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

input[type="text"],
input[type="email"] {
  display: flex;
  width: 567px;
  height: 20px;
  padding: 15px 50px 15px 25px;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #141d2f;

  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  &:disabled {
    background-color: #304979;
  }

  &::placeholder {
    color: #ffffff;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(112, 230, 28, 1);
  }
}

textarea {
  display: flex;
  width: 567px;
  height: 172px;
  padding: 15px 50px 15px 25px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  background: #141d2f;

  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  resize: none;
  overflow: auto;

  &:disabled {
    background-color: #304979;
  }

  &::placeholder {
    color: #ffffff;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(112, 230, 28, 1);
  }
}

.border {
  border: 1px solid rgba(151, 71, 255, 1);

  &:hover {
    border: 1px solid rgba(112, 230, 28, 1);
  }
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;

  img {
    height: 25px;
    width: 25px;
  }

  p {
    color: #e61c40;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }

  div {
    position: relative;
  }
}

.error-img {
  position: absolute;
  top: 13px;
  right: 25px;
}

.error-text {
  position: absolute;
  top: 58px;
}

.message-error-text {
  position: absolute;
  top: 211px;
}

.confirm-area {
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
    padding: 16px 0 12px 0;
    display: flex;
    gap: 8px;

    input[type="checkbox"] {
      appearance: none;
      background-color: #141d2f;
      margin: 0;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      display: grid;
      place-content: center;

      &:disabled {
        background-color: #304979;
      }

      &::before {
        content: "";
        width: 12px;
        height: 12px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #70e61c;
        transform-origin: center;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      }

      &:checked::before {
        transform: scale(1);
      }

      &:checked {
        border: 1px solid #70e61c;
      }
    }

    span {
      a {
        color: rgba(151, 71, 255, 1);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.confirm-area {
  margin-top: 25px;
  p {
    color: #e61c40;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    align-items: flex-start;
    display: flex;
  }
}

.border-checkbox {
  border: 2px solid rgba(112, 230, 28, 1);
}

button {
  width: fit-content;
  height: fit-content;
  display: flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  border: none;
  border-radius: 10px;
  background: rgba(112, 230, 28, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: transform 300ms ease-out;

  span {
    color: #ffffff;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    transition: transform 300ms ease-out;
  }

  &:hover:enabled {
    transform: scale(1.2);
    background: rgba(151, 71, 255, 1);
    cursor: pointer;

    span {
      transform: scale(0.833);
    }
  }

  &:disabled {
    background: #b6b6b6;
  }
}

.footer-contact {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shadow_contact {
  bottom: 200px;
  height: 200px;
  z-index: 80;
  position: relative;
  left: -300px;
}

.arrow-up {
  z-index: 2;
  display: flex;
  width: 39px;
  height: 39px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 41px;
  border: 2px solid #ffffff;
  bottom: 90px;

  &:hover {
    border: 2px solid rgba(112, 230, 28, 1);

    svg {
      g {
        path {
          fill: rgba(112, 230, 28, 1);
        }
      }
    }
  }
}

.dialog {
  width: 100vw;
  height: 100vh;
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 100 !important;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    background-color: #141d2f;
    border-radius: 44px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(151, 71, 255, 1);

    div {
      text-align: center;
      border-radius: 40px;
      padding: 50px 80px;
      border: 1px solid rgba(112, 230, 28, 1);
      display: flex;
      flex-direction: column;

      h1 {
        font-size: 48px;
      }

      h2 {
        margin-top: 16px;
      }
    }
  }
}

@media (max-width: 1393px) {
  h1 {
    font-size: 80px;
  }
}

@media (max-width: 1302px) {
  h1 {
    font-size: 72px;
  }

  h2 {
    font-size: 24px;
  }

  .main-section {
    width: 300px;
  }
}

@media (max-width: 1228px) {
  h1 {
    font-size: 64px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 500px;
  }

  .confirm-area {
    div {
      p {
        top: 60px;
      }
    }
  }
}

@media (max-width: 1150px) {
  h1 {
    font-size: 56px;
  }
}

@media (max-width: 1075px) {
  h1 {
    font-size: 48px;
  }

  span {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 423px;
  }
}

@media (max-width: 850px) {
  main {
    flex-direction: column;
  }

  input[type="text"],
  input[type="email"] {
    width: -webkit-fill-available;
  }

  textarea {
    width: -webkit-fill-available;
  }

  .form {
    display: flex;
    justify-content: center;
    width: 80%;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        width: 100%;
      }
    }
  }

  .shadow_contact {
    display: none;
  }

  .arrow-up {
    right: 24px;
    bottom: 48px;
  }

  .dialog {
    div {
      div {
        padding: 20px 25px;

        h1 {
          font-size: 40px;
        }

        h2 {
          font-size: 28px;
        }
      }
    }
  }

  .confirm-area {
    div {
      p {
        top: 40px;
      }
    }
  }

  .shadow {
    position: relative;
    top: -100px;
    display: none;
  }
}

@media (max-width: 724px) {
  .confirm-area {
    div {
      p {
        top: 60px;
      }
    }
  }

  .shadow_contact {
    display: none;
  }

  .section-form {
    flex-direction: column;
  }

  .form {
    width: 100%;
  }

  .footer-contact {
    margin-top: -80px;
  }
}

@media (max-width: 509px) {
  .confirm-area {
    div {
      p {
        top: 80px;
      }
    }
  }

  .section-form {
    margin-bottom: 35%;
  }

  .shadow_contact {
    display: none;
  }
}
