main {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  max-width: 1440px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  height: 80px;
  width: 100%;
}

.logo {
  img {
    margin: 20px 0px 0px 20px;
    height: 60px;
  }
}



.link-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 46px;
  margin-right: 20px;

  div {
    position: relative;

    a {
      color: #ffffff;
      font-family: Poppins;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-decoration: none;

      &:hover {
        color: rgba(112, 230, 28, 1);
      }

      &.selected {
        color: rgba(112, 230, 28, 1);
      }
    }
  }
}

.underline {
  width: 55.5px;
  height: 0;
  position: absolute !important;
  top: 30px;
  left: 0;
  border: 1.5px solid rgba(151, 71, 255, 1);
  z-index: 1000;
  display: none;

  &.selected-line {
    display: block;
  }

  &.hover {
    display: block;
  }
}

.menu-button {
  display: none;
  z-index: 99;
  margin-right: 15px;
}

aside {
  // display: none;
}

.dialog-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141d2fcc;
  display: none;
  justify-content: center;
  align-items: center;
  transition: transform 0.08s ease-out;

  img {
    position: absolute;
    top: 37px;
    left: 24px;
    height: 30px;
    animation: rotate360 10s linear infinite;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 29px;

    a {
      color: #ffffff;
      font-family: Poppins;
      font-size: 23px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      text-decoration: none;
    }
  }
  button {
    width: 50%;
  }
}

.show-menu {
.dialog-menu{
  display: flex;
}
}

.hide-menu {
  .dialog-menu{
    display: none
  };
}

// @media (min-width: 2800px) {
//   main {
//     padding: 37px 45px;
//   }
// }

// @media (min-width: 2450px) and (max-width: 2799px) {
//   main {
//     padding: 37px 350px;
//   }
// }

// @media (min-width: 2050px) and (max-width: 2449px) {
//   main {
//     padding: 37px 250px;
//   }
// }

// @media (min-width: 1920px) and (max-width: 2049px) {
//   main {
//     padding: 37px 150px;
//   }
// }

@media (max-width: 918px) {
  main {
    padding: 0px 0px;
  }
}

@media (max-width: 850px) {
  main {
    padding: 0px 0px;
  }

  .logo {
    img {
      height: 48px;
    }
  }

  .link-container {
    display: none;
  }

  .menu-button {
    display: block;
    height: 30px;
  }

  header{
padding: 0px 15px;
  }
}
