<!-- Header -->
<div
  class="header-top-fixed one-page-nav"
  [ngClass]="{ 'menu-open menu-open-desk': sidebarOpen }"
>
  <div class="container">
    <!-- Brand -->
    <div class="logo">
      <a class="navbar-brand" href="/">
        <img class="logo" title="" alt="" src="assets/img/logo_full.png" />
      </a>
    </div>
    <!-- / -->
    <ul class="main-menu">
      <!-- <li>
        <a
          class="menu-item"
          spyOn="home"
          activeClass="active"
          href="#home"
          (click)="fullPageScroll('home')"
        >
          {{ 'HEADER.MENU.HOME' | translate }}
        </a>
      </li> -->
      <li>
        <a
          class="menu-item"
          spyOn="about"
          activeClass="active"
          href="#about"
          (click)="fullPageScroll('about')"
        >
          {{ "HEADER.MENU.ABOUT_ME" | translate }}
        </a>
      </li>
      <li>
        <a
          class="menu-item"
          spyOn="skills"
          activeClass="active"
          href="#skills"
          (click)="fullPageScroll('project')"
        >
          {{ "HEADER.MENU.SKILLS" | translate }}
        </a>
      </li>
      <li>
        <a
          class="menu-item"
          spyOn="portfolio"
          activeClass="active"
          href="#portfolio"
          (click)="fullPageScroll('services')"
        >
          {{ "HEADER.MENU.PORTFOLIO" | translate }}
        </a>
      </li>
      <li>
        <a
          class="menu-item"
          spyOn="contact"
          activeClass="active"
          href="#contact"
          (click)="fullPageScroll('contact')"
        >
          {{ "HEADER.MENU.CONTACT" | translate }}
        </a>
      </li>
    </ul>
    <!-- Top Menu -->
    <div class="d-flex" (clickOutside)="onClickedOutside($event)">
      <a class="varCss-btn d-none d-lg-inline-flex" href="#contact">{{
        "HOME_SECTION.CTA_BUTTON" | translate
      }}</a>
      <button
        class="language"
        (click)="changeLanguage(currentLang === 'de' ? 'en' : 'de')"
      >
        {{ currentLang === "de" ? "EN" : "DE" }}
      </button>
      <button
        class="toggle-menu d-lg-none"
        [ngClass]="{ open: sidebarOpen }"
        (click)="toggleMenu()"
      >
        <span></span>
      </button>
    </div>
  </div>
</div>

<!-- End Header -->
