

:root, 
[data-bs-theme=dark] {

	--varCss-theme:	#{$varCss-theme};
	--varCss-theme-rgb:	#{$varCss-theme-rgb};
	--varCss-black:	#{$varCss-black};
	--varCss-white:	#{$varCss-white};
	--varCss-text:	#{$varCss-text};
}

