<div class="container">
  <!-- <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/shadow/green_shadow.png" title="" alt="">
    </div> -->
  <div class="row justify-content-between gy-5">
    <div class="col-lg-6 col-xl-7 varCss-lg-5">
      <div class="about-text">
        <div class="section-heading">
          <h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>
        </div>
        <p>
{{ 'ABOUT_ME.INTRO' | translate }}
        </p>
        <div class="about-me-bulletpoint">
          <div class="bulletpoint">
            <img src="assets/img/about-me/bulb.png" alt="" />
            <p>
{{ 'ABOUT_ME.SECTIONS.FIRST.TEXT' | translate }}
            </p>
          </div>
          <div class="bulletpoint">
            <img src="assets/img/about-me/puzzle.png" alt="" />
            <p>
{{ 'ABOUT_ME.SECTIONS.SECOND.TEXT' | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-5">
      <div class="about-banner">
        <div class="img-circle">
          <img
            src="assets/img/personal/bild_schwarz_weiß.png"
            title=""
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
