<div class="container">
  <!-- <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/shadow/green_shadow.png" title="" alt="">
    </div> -->
  <div class="row justify-content-between  gy-5">
    <div class="col-lg-6 col-xl-7 px-lg-5">
      <div class="about-text">
        <div class="section-heading">
          <h2>About me</h2>
        </div>
        <p>
          Hi, I am a Front End Developer based in Gronau, Germany. I have
          experience in building webapps with JavaScript and Angular. I would
          like to further develop my skills and am looking forward to a
          professional career as a developer. I have responsive web apps,
          business apps, and a game in my portfolio. Feel free to try them out.
        </p>
        <div class="about-me-bulletpoint">
          <div class="bulletpoint">
            <img src="assets/img/about-me/bulb.png" alt="" />
            <p>
              Even as a child I found IT and programming very interesting and
              bought my first HTML book at the age of 13. Unfortunately, I
              didn't find an apprenticeship in IT after school and then moved
              into other industries. Now I have decided to become a programmer
              to turn my love of technology, IT, and software into a career
            </p>
          </div>
          <div class="bulletpoint">
            <img src="assets/img/about-me/puzzle.png" alt="" />
            <p>
              Due to my love of IT and programming, I feel at home in the
              industry. My passion for innovative technologies and my
              willingness to continuously learn make me a dedicated team member
              who always strives to find elegant solutions to complex
              challenges. My understanding of abstract relationships and how
              computers work makes me the perfect employee.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-5">
      <div class="about-banner">
        <div class="img-circle">
          <img
            src="assets/img/personal/bild_schwarz_weiß.png"
            title=""
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
