<main class="wrapper" id="scroll-container">
  <section id="home" spyTarget="home" class="spy-section home-section">
    <app-home></app-home>
  </section>
  <section class="py-3 py-md-4 gray-bg">
    <app-skillsBar></app-skillsBar>
  </section>
  <section
    id="about"
    spyTarget="about"
    class="spy-section about-section section"
  >
    <app-about></app-about>
  </section>

  <section id="skills" spyTarget="skills" class="spy-section section gray-bg">
    <app-skills></app-skills>
  </section>

  <section id="portfolio" spyTarget="portfolio" class="spy-section section">
    <app-portfolio></app-portfolio>
  </section>

  <!-- <section class="section gray-bg">
      <app-experience></app-experience>
    </section> -->

  <!-- <section class="section effect-section pb-0">
        <app-testimonials></app-testimonials>
    </section> -->

  <section
    id="contact"
    spyTarget="contact"
    class="spy-section section contactus-section"
  >
    <app-contact></app-contact>
  </section>
</main>
