<main>
  <section class="about">
    <h1>{{ 'ABOUT_ME.TITLE' | translate }}</h1>
    <span class="about-me">
      {{ 'ABOUT_ME.INTRO' | translate }}
    </span>
    <table>
      <tr>
        <td class="vert-align-ttop">
          <img src="assets/img/about_me/bulb.png" class="growImage" alt="{{ 'ABOUT_ME.SECTIONS.FIRST.ICON_ALT' | translate }}" />
        </td>
        <td>
          {{ 'ABOUT_ME.SECTIONS.FIRST.TEXT' | translate }}
        </td>
      </tr>
      <tr>
        <td class="vert-align-ttop">
          <img src="assets/img/about_me/puzzle.png" class="growImage" alt="{{ 'ABOUT_ME.SECTIONS.SECOND.ICON_ALT' | translate }}" />
        </td>
        <td>
          {{ 'ABOUT_ME.SECTIONS.SECOND.TEXT' | translate }}
        </td>
      </tr>
    </table>
  </section>
  <section class="about-me-img">
    <div class="circle">
      <img src="assets/img/personal_picture/bild_schwarz_weiß.png" alt="Personal image" />
    </div>
    <div>
      <div class="line"></div>
    </div>
  </section>
</main>
