<main>
  <section class="skill-icons">
    <div class="icon-container">
      <div>
        <img src="assets/img/skills/Angular.png" />
        <p>Angular</p>
      </div>
      <div>
        <img src="assets/img/skills/Typescript.png" />
        <p>TypeScript</p>
      </div>
      <div>
        <img src="assets/img/skills/Javascript.png" />
        <p>JavaScript</p>
      </div>
      <div>
        <img src="assets/img/skills/html.png" />
        <p>HTML</p>
      </div>
      <div>
        <img src="assets/img/skills/Firebase.png" />
        <p>Firebase</p>
      </div>
      <div>
        <img src="assets/img/skills/git.png" />
        <p>GIT</p>
      </div>
      <div>
        <img src="assets/img/skills/css.png" />
        <p>CSS</p>
      </div>
      <div>
        <img src="assets/img/skills/Api.png" />
        <p>Rest-Api</p>
      </div>
      <div>
        <img src="assets/img/skills/scrum.png" />
        <p>Scrum</p>
      </div>
      <div>
        <img src="assets/img/skills/material.png" />
        <p>Material design</p>
      </div>
      <div>
        <img src="assets/img/skills/learning.png" />
        <p style="color: blueviolet;">Continually learning</p>
      </div>
    </div>
    <div class="get-in-touch-mobile">
    <h2>Looking for <span>another skill</span>?</h2>
    <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
    <a href="#contact" class="button"><span>Get in touch</span></a>
    </div>


  </section>
  <section class="skill-text">
    <h1>My skills</h1>
    <span>
        I have gained experience in building projects with different frontend technologies and concepts.
    </span>
    <div class="get-in-touch">
    <h2>Looking for <span>another skill</span>?</h2>
    <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
    <a href="#contact" class="button"><span>Get in touch</span></a>
    </div>

</section>
  <div class="line"></div>

</main>
