<main>
  <section class="skill-icons">
    <div class="icon-container">
      <div>
        <img src="assets/img/skills/Angular.png" alt="{{ 'SKILLS.SKILL_LIST.ANGULAR' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.ANGULAR' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/Typescript.png" alt="{{ 'SKILLS.SKILL_LIST.TYPESCRIPT' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.TYPESCRIPT' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/Javascript.png" alt="{{ 'SKILLS.SKILL_LIST.JAVASCRIPT' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.JAVASCRIPT' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/html.png" alt="{{ 'SKILLS.SKILL_LIST.HTML' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.HTML' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/Firebase.png" alt="{{ 'SKILLS.SKILL_LIST.FIREBASE' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.FIREBASE' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/git.png" alt="{{ 'SKILLS.SKILL_LIST.GIT' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.GIT' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/css.png" alt="{{ 'SKILLS.SKILL_LIST.CSS' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.CSS' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/Api.png" alt="{{ 'SKILLS.SKILL_LIST.REST_API' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.REST_API' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/scrum.png" alt="{{ 'SKILLS.SKILL_LIST.SCRUM' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.SCRUM' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/material.png" alt="{{ 'SKILLS.SKILL_LIST.MATERIAL_DESIGN' | translate }}" />
        <p>{{ 'SKILLS.SKILL_LIST.MATERIAL_DESIGN' | translate }}</p>
      </div>
      <div>
        <img src="assets/img/skills/learning.png" alt="{{ 'SKILLS.SKILL_LIST.LEARNING' | translate }}" />
        <p style="color: blueviolet;">{{ 'SKILLS.SKILL_LIST.LEARNING' | translate }}</p>
      </div>
    </div>
    <div class="get-in-touch-mobile">
      <h2>{{ 'SKILLS.CONTACT_PROMPT.TITLE' | translate }}</h2>
      <span>{{ 'SKILLS.CONTACT_PROMPT.DESCRIPTION' | translate }}</span>
      <a href="#contact" class="button"><span>{{ 'SKILLS.CONTACT_PROMPT.BUTTON' | translate }}</span></a>
    </div>
  </section>
  <section class="skill-text">
    <h1>{{ 'SKILLS.TITLE' | translate }}</h1>
    <span>{{ 'SKILLS.DESCRIPTION' | translate }}</span>
    <div class="get-in-touch">
      <h2>{{ 'SKILLS.CONTACT_PROMPT.TITLE' | translate }}</h2>
      <span>{{ 'SKILLS.CONTACT_PROMPT.DESCRIPTION' | translate }}</span>
      <a href="#contact" class="button"><span>{{ 'SKILLS.CONTACT_PROMPT.BUTTON' | translate }}</span></a>
    </div>
  </section>
  <div class="line"></div>
</main>
