<main>
  <div>
    <h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
    <h2>{{ 'PRIVACY_POLICY.SECTION_1.TITLE' | translate }}</h2>
    <h3>{{ 'PRIVACY_POLICY.SECTION_1.SUBSECTION_1.TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.SECTION_1.SUBSECTION_1.CONTENT' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_1.SUBSECTION_2.TITLE' | translate }}</h3>
    <h4>{{ 'PRIVACY_POLICY.SECTION_1.SUBSECTION_2.QUESTION_1' | translate }}</h4>
    <p>{{ 'PRIVACY_POLICY.SECTION_1.SUBSECTION_2.ANSWER_1' | translate }}</p>
    <h2>{{ 'PRIVACY_POLICY.SECTION_2.TITLE' | translate }}</h2>
    <p>{{ 'PRIVACY_POLICY.SECTION_2.CONTENT' | translate }}</p>
    <h3>{{ 'PRIVACY_POLICY.SECTION_2.SUBSECTION_1.TITLE' | translate }}</h3>
    <p>{{ 'PRIVACY_POLICY.SECTION_2.SUBSECTION_1.CONTENT' | translate }}</p>
  </div>
</main>
