 <div class="container">
<div class="imprint">
<h1>{{ 'PRIVACY_POLICY.TITLE' | translate }}</h1>
<h2>{{ 'PRIVACY_POLICY.SECTIONS.1.TITLE' | translate }}</h2>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.1.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.1.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.TITLE' | translate }}</h3>
<h4>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.1.QUESTION' | translate }}</h4>
<p>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.1.ANSWER' | translate }}</p>
<h4>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.2.QUESTION' | translate }}</h4>
<p>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.2.ANSWER' | translate }}</p>
<h4>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.3.QUESTION' | translate }}</h4>
<p>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.3.ANSWER' | translate }}</p>
<h4>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.4.QUESTION' | translate }}</h4>
<p>{{ 'PRIVACY_POLICY.SECTIONS.1.SUBSECTIONS.2.QUESTIONS.4.ANSWER' | translate }}</p>
<h2>{{ 'PRIVACY_POLICY.SECTIONS.2.TITLE' | translate }}</h2>
<p>{{ 'PRIVACY_POLICY.SECTIONS.2.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.2.SUBSECTIONS.1.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.2.SUBSECTIONS.1.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.2.SUBSECTIONS.2.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.2.SUBSECTIONS.2.CONTENT' | translate }}</p>
<h2>{{ 'PRIVACY_POLICY.SECTIONS.3.TITLE' | translate }}</h2>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.1.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.1.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.2.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.2.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.3.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.3.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.4.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.4.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.5.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.3.SUBSECTIONS.5.CONTENT' | translate }}</p>
<h2>{{ 'PRIVACY_POLICY.SECTIONS.4.TITLE' | translate }}</h2>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.4.SUBSECTIONS.1.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.4.SUBSECTIONS.1.CONTENT' | translate }}</p>
<h3>{{ 'PRIVACY_POLICY.SECTIONS.4.SUBSECTIONS.2.TITLE' | translate }}</h3>
<p>{{ 'PRIVACY_POLICY.SECTIONS.4.SUBSECTIONS.2.CONTENT' | translate }}</p>
</div>

</div>