main {
  position: relative;
  background-color: #141d2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 4px solid rgba(112, 230, 28, 1);
  z-index: 99;
  padding: 20px 50px;
  height: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    height: 80px;
  }

  div {
    position: relative;

    a {
      text-decoration: none;
      color: #ffffff;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      &:hover {
        text-decoration: underline;
        text-decoration-color: rgba(112, 230, 28, 1);
      }
    }
  }
}

.copyright {
  color: #ffffff;
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.social {
  display: flex;
  gap: 42px;

  img {
    width: 30px;
    height: 30px;

    transition: transform 100ms ease-out;

    &:hover {
      transform: scale(1.33);
    }
  }
}



@media (max-width: 850px) {
  main {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }

  .logo {
    gap: 24px;
    align-items: center;
  }
}

@media (max-width: 500px) {
  main {
    justify-content: flex-start;
  }
}
