<main>
  <section class="logo">
    <a href="#heroSection"><img src="assets/img/logo/logo_full.png" /></a>
    <div>
      <a routerLink="/imprint" routerLinkActive="active-link">Imprint</a>
      <span style="color: white"> | </span>
      <a routerLink="/privacy-policy" routerLinkActive="active-link">Privacy Policy</a>
    </div>
  </section>
  <section class="copyright">
    <span>&copy; Juri Neiz 2024</span>
  </section>
  <section class="social">
    <a
      href="https://github.com/jurin1?tab=repositories"
      target="_blank"
      rel="noreferrer noopener"
      ><img src="assets/img/footer/git-hub.png"
    /></a>
    <a href="mailto:juri@neizcon.de"
      ><img src="assets/img/footer/e-mail.png"
    /></a>
    <a
      href="https://www.linkedin.com/in/juri-n-97b8a3168/"
      target="_blank"
      rel="noreferrer noopener"
      ><img src="assets/img/footer/linked-in.png"
    /></a>
  </section>
</main>
