<div class="container d-flex justify-content-between flex-column">
    <div class="header-skills">
<h2>{{ 'SKILLS.TITLE' | translate }}</h2>
    </div>
    <div class="img-container">
<img src="assets/img/skills/html.png" alt="">
<img src="assets/img/skills/css.png" alt="">
<img src="assets/img/skills/angular.png" alt="">
<img src="assets/img/skills/api.png" alt="">
<img src="assets/img/skills/design.png" alt="">
<img src="assets/img/skills/firebase.png" alt="">
<img src="assets/img/skills/git.png" alt="">
<img src="assets/img/skills/js.png" alt="">
<img src="assets/img/skills/ts.png" alt="">
<img src="assets/img/skills/scrum.png" alt="">
<img src="assets/img/skills/learning.png" alt="">
    </div>
</div>