  <div class="container">
  <div class="imprint">
    <h1>{{ 'IMPRINT.TITLE' | translate }}</h1>
    <br />
    <p>
      {{ 'IMPRINT.ADDRESS.NAME' | translate }} <br />
      {{ 'IMPRINT.ADDRESS.STREET' | translate }} <br />
      {{ 'IMPRINT.ADDRESS.CITY' | translate }} <br />
    </p>
    <h2>{{ 'IMPRINT.CONTACT.TITLE' | translate }}</h2>
    <br />
    <p>
      {{ 'IMPRINT.CONTACT.EMAIL' | translate }}: 
      <a href="mailto:juri@neizcon.de">juri&#64;neizcon.de</a><br />
      {{ 'IMPRINT.CONTACT.PHONE' | translate }}: 
      <a href="tel:+4925621889158">+49 2562 1889158</a>
    </p>
    <br /><br /><br /><br />
    <p>
      {{ 'IMPRINT.SOURCE' | translate }}
      <a href="https://www.e-recht24.de">e-recht24.de</a>
    </p>
  </div>
</div>