main {
  background-color: #141d2f;
    margin-top: 80px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.hero {
  position: relative;
  width: 100%;
  display: flex;
align-items: center;

}

.image-container,
.hero_right_section {
width: 50%;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.personal-img {
  position: relative;
  z-index: 10;
  height: 500px;
  max-height: 80vh;
  width: auto;
  object-fit: contain;
}

.img-background {
  position: absolute;
  max-height: 500px;
  z-index: 5;
}

.hero_right_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 21;
  a{
    position: relative;
    z-index: 30;
  }
}

.vector {
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 120px;
  z-index: 20;
}

.bottom-container {
  position: relative;
  z-index: 21;
  background: transparent;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  width: 100%;
    margin-left: 30px;
}

.welcome-txt {
  display: flex;
  align-items: center;
  margin-right: 160px;
}

.rotate {
  transform: rotate(-90deg);
  white-space: nowrap;
  height: auto;
}

.welcome-txt>div:last-child {
  display: flex;
  flex-direction: column;

}

h1 {
  color: var(--White, #ffffff);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}

h2 {
  color: var(--White, #ffffff);
  font-family: Poppins;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

h3 {
  color: rgba(151, 71, 255, 1);
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  margin: 0;
  padding-right: 30px;
}

.rotate {
  transform: rotate(-90deg);
}

.button {
  margin-top: 60px;
  display: inline-flex;
  padding: 15px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgba(112, 230, 28, 1);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 3;
  text-decoration: none;
  transition: transform 300ms ease-out;

  span {
    color: #ffffff;
    font-family: Poppins;
    font-size: 23px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    transition: transform 300ms ease-out;
  }

  &:hover {
    transform: scale(1.2);
    background-color: rgba(151, 71, 255, 1);

    span {
      transform: scale(0.833);
    }
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 42px;

  a {
    color: #ffffff;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-decoration: none;

    &:hover {
      color: rgba(151, 71, 255, 1);
    }
  }

  img {
    transition: transform 100ms ease-out;

    &:hover {
      transform: scale(1.33);
    }
  }
}

/* Ultrawide*/
@media (min-width: 2800px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1090px) {
}

@media (max-width: 1010px) {
  .button {
    margin-top: 30px;
    padding: 10px 20px;
  }
}

@media (max-width: 922px) {
  .bottom-container{
    margin-left: 80px;
  }
}

@media (max-width: 860px) {
  h2{
    font-size: 65px;
  };
  h3{
font-size: 40px;
  }
  h1{
    font-size: 50px;
    margin-bottom: -50px;
  }
  main{
    margin-top: 130px;
  }
  .bottom-container{
    margin-left: 0px;
    width: 100%;
  }
  .vector{
    bottom: -13px;
  }
}

@media (max-width: 710px) {
    .hero{
    flex-direction: column;
    align-items: center;
  }
  .welcome-txt{
    margin-right: 0px;
    gap: 15px;
  }
  .image-container{
    margin-left: -400px;
  }
  .vector{
    top: 400px
  }
  .social{
    margin-top: 20px;
  }
  .bottom-container{
    margin-left: 0;
  }
}

@media (max-width: 570px) {
  .hero_right_section{
    width: 100%;
  }
  .img-background{
    height: 300px;
  }
main{
  margin-top: 0px;
}
.personal-img{
  height: 290px;
}
            .vector {
              top: 235px;
            }
  
}

@media (max-width: 480px) {
    h2 {
        font-size: 40px;
      }
    
      ;
    
      h3 {
        font-size: 25px;
      }
    
      h1 {
        font-size: 28px;
      }
      .social{
        gap: 30px;
      }
      .image-container{
        margin-left: -212px;
      }

}

@media (max-width: 390px) {
  .social {
    gap: 16px;
  }
  .vector{
    top: 230px
  }


}
