<div class="container">
  <div class="contactus-box rounded oveflow-hidden gray-bg">
    <div class="row g-0 p-4 p-lg-5">
      <div class="col-lg-4"></div>
      <div class="col-lg-8">
        <div class="contactus-title">
          <h5>{{ "CONTACT.HEADER" | translate }}</h5>
          <p class="m-0">
{{ "CONTACT.DESCRIPTION.PART_1" | translate }}
          </p>
        </div>
      </div>
    </div>
    <div class="row g-0 contactus-form p-4 p-lg-5 flex-row-reverse">
      <div class="col-lg-8">
        <div class="contact-form">
          <form (ngSubmit)="onSubmit()" [formGroup]="form" id="contact-form">
            <div class="row gx-3 gy-4">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label"></label>
                  <input
                    name="Name"
                    id="name"
                    placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.NAME' | translate }}"
                    class="form-control"
                    type="text"
                    formControlName="name"
                  />
                  <div
                    *ngIf="name?.invalid && (name?.touched || name?.dirty)"
                    class="error"
                  >
                    <div *ngIf="name?.errors?.['required']">
                      {{ "CONTACT.FORM.ERRORS.NAME_REQUIRED" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="form-label"></label>
                  <input
                    name="Email"
                    id="email"
                    placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.EMAIL' | translate }}"
                    class="form-control"
                    type="email"
                    formControlName="email"
                  />
                  <div
                    *ngIf="email?.invalid && (email?.touched || email?.dirty)"
                    class="error"
                  >
                    <div *ngIf="email?.errors?.['required']">
                      {{ "CONTACT.FORM.ERRORS.EMAIL_REQUIRED" | translate }}
                    </div>
                    <div *ngIf="email?.errors?.['email']">
                      {{ "CONTACT.FORM.ERRORS.EMAIL_INVALID" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <!-- <label class="form-label">{{ 'CONTACT.FORM.PLACEHOLDER.SUBJECT' | translate }}</label> -->
                  <input
                    name="Subject"
                    id="subject"
                    placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.SUBJECT' | translate }}"
                    class="form-control"
                    type="text"
                    formControlName="subject"
                  />
                  <div
                    *ngIf="
                      subject?.invalid && (subject?.touched || subject?.dirty)
                    "
                    class="error"
                  >
                    <div *ngIf="subject?.errors?.['required']">
                      {{ "CONTACT.FORM.ERRORS.SUBJECT_REQUIRED" | translate }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label class="form-label"></label>
                  <textarea
                    name="message"
                    id="message"
                    placeholder="{{ 'CONTACT.FORM.PLACEHOLDER.MESSAGE' | translate }}"
                    rows="4"
                    class="form-control"
                    formControlName="message"
                  ></textarea>
                  <div
                    *ngIf="
                      message?.invalid && (message?.touched || message?.dirty)
                    "
                    class="error"
                  >
                    <div *ngIf="message?.errors?.['required']">
                      {{ "CONTACT.FORM.ERRORS.MESSAGE_REQUIRED" | translate }}
                    </div>
                  </div>
                </div>
              </div>

<div class="col-md-12 ">
  <div class="form-group d-flex align-items-center">
    <input
      type="checkbox"
      id="terms"
      formControlName="terms"
      class="checkbox"
    />
    <div class="d-block">
          <label for="terms">
        <span [innerHTML]="'CONTACT.FORM.CHECKBOX' | translate"></span>
    </label>
    <div *ngIf="terms?.invalid && (terms?.touched || terms?.dirty)" class="error">
      <div *ngIf="terms?.errors?.['required']">
        <span [innerHTML]="'CONTACT.FORM.ERRORS.CHECKBOX' | translate"></span>
      </div>
    </div>
    </div>
  </div>
</div>

              <div class="col-md-12">
                <div class="send">
                  <button
                    [class.disabled]="!form.valid"
                    [class.enabled]="form.valid"
                    class="varCss-btn w-40"
                    type="submit"
                    [disabled]="!form.valid"
                  >
                    {{ 'CONTACT.FORM.BUTTON' | translate }}
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="showPopup" id="popup" style="display: block">
              <div>
                <div>
                  <h5>
                    <span *ngIf="popupType == 'success'" style="color: #6fe71c"
                      >{{ "CONTACT.FEEDBACK.SUCCESS" | translate }}</span
                    >
                    <span *ngIf="popupType == 'error'" style="color: red"
                      >{{ "CONTACT.FEEDBACK.ERROR" | translate }}</span
                    >
                  </h5>
                </div>
                <div>
                  <span *ngIf="popupType == 'success'"
                      >{{ "CONTACT.FEEDBACK.SUCCESS_DETAIL" | translate }}</span
                  >
                  <span *ngIf="popupType == 'error'"
                    >{{ "CONTACT.FEEDBACK.ERROR_DETAIL" | translate }}<a href="mailto:juri@neizcon.de">juri&#64;neizcon.de</a></span
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4 pe-md-5">
        <div class="contact-banner d-none d-lg-block img-circle">
          <img
            src="assets/img/personal/bild_schwarz_weiß.png"
            title=""
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
