<div class="container">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="hs-text-box">
        <h1>Hi! I’m Juri</h1>
        <h2>I'm a <span class="typed-element"></span></h2>
        <div
          class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row"
        >
          <a class="px-btn" href="#contact"><span>Get in touch</span></a>
          <div
            class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start"
          >
            <a href="mailto:juri@neizcon.de"
              ><i class="fa-regular fa-envelope"></i
            ></a>
            <a href="https://github.com/jurin1?tab=repositories" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
            <a
              class="m-0"
              href="https://www.linkedin.com/in/juri-n-97b8a3168/"
              target="_blank"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="hs-banner">
        <img src="assets/img/personal/BusinessProfil.png" alt="" />
      </div>
    </div>
  </div>
</div>
